<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MySQLconn" value="server=wuxsg01;database=moonshine;user id=root;password=Jabil12345;CharacterSet=gb2312;" />
    <!--<add key="MySQLconn" value="server=wuxsg01;database=moonshine;user id=root;password=Jabil12345;CharacterSet=gb2312;" />-->
    <add key="LDAP" value="LDAP://corp.jabil.org" />
    <!--邮件配置-->
    <add key="smtpClient" value="CORIMC04" />
    <add key="smtpPort" value="25" />
    <add key="address" value="ITDO@JABIL.COM" />
    <add key="displayname" value="Moonshine Management System" />
    <add key="To" value="Wei_Ji@jabil.com,jun_Li5@jabil.com" />
    <add key="Cc" value="Zhenyong_Guan@Jabil.com,king_yang@jabil.com,Emmons_Zhu@Jabil.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>